<!-- RSR RESPONSIVE VIMEO -->
<polymer-element name="rsr-vimeo" constructor="rsrVimeo" attributes="url">
  <template>
    <style>
      .rsr-vimeo-wrap {
        width: 100%;
        height: auto;
        padding-top: 56.5%;
        position: relative;
        overflow: hidden;
      }
      .rsr-vimeo-wrap iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>
    <div class="rsr-vimeo-wrap">
      <iframe src="//player.vimeo.com/video/{{url}}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff'" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </template>
  <script>
    Polymer('rsr-vimeo', {});
  </script>
</polymer-element>

<!-- VIDEO CONTROLS INTERFACE - EXAMPLE -->
<polymer-element name="video-controls" constructor="videoControls">
  <template>
    <style>
      .video-controls-wrap {
        margin-bottom: 30px;
      }
      .video-controls-wrap h4 {
        margin: 10px auto;
      }
      .video-controls-wrap input {
        display: block;
        width: 80%;
        height: 30px;
        padding: 10px;
        margin: 0 auto;
        outline: 0 !important;
        border: 0 !important;
        background-color: #eeeeee;
        color: #444;
        max-width: 400px;
        font-size: 23px;
        text-align: center;
      }
      .video-controls-wrap a {
        display: block;
        width: 80%;
        max-width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 10px auto;
        padding: 0;
        text-decoration: none;
        color: #FFF;
        background-color: #444;
        text-align: center;
      }
    </style>
    <div class="video-controls-wrap">
      <h4>Add a video to the container, enter the ID</h4>
      <input type="text" id="newVideoIdInput">
      <a href="javascript:void(0)" on-click="{{addVideoHandler}}">Add Video</a>
    </div>
  </template>
  <script>
    Polymer('video-controls', {
      addVideoHandler: function(){
        var newVideoId = document.getElementById('newVideoIdInput').value;
        addVideo(newVideoId);
      }
    });
  </script>
</polymer-element>